/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset
--------------------------------------------------------------------------------------------------------*/

/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family:'Comfortaa', sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}
.wrapper { min-height: 100vh; }
a { color: #000; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 0 20px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
.row{margin:0;}
p { padding: 0 0 20px; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none;border-color: #e4e4e4; }
input[type="text"]::placeholder,
input[type="password"]::placeholder{color: #6A6C6F;}
input[type="text"]:focus,
input[type="password"]:focus {border-color: #17a2b8;box-shadow: inset 0 1px 1px rgba(63, 81, 118, 0.075), 0 0 8px rgba(63, 81, 118, 0.3);}
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }

/* Header
--------------------------------------------------------------------------------------------------------*/
.logo { display: inline-block; }
.logo>img { display: block; }

/* MainNavigation
--------------------------------------------------------------------------------------------------------*/

/* Login
--------------------------------------------------------------------------------------------------------*/
.login-left {height: 100vh;position: relative;width: 628px;flex-direction: column;display: flex;align-items: center;overflow: hidden;background-color: #0057a1;}
.login-header{display: flex;justify-content: center;align-items: center;}
.logo{width: 266px;padding-top: 45px;}
.login-container{background-image:url('../src/app/assets/images/company-building.jpg');background-position:right top;background-size: cover;background-repeat: no-repeat;min-height: 100vh;}
.btn-login.MuiButton-containedPrimary{padding: 0 44px;color:#0057a1;font-weight: bold;font-size: 14px;height: 48px;border-color:#fff;background-color:#fff;text-transform: uppercase;border-radius: 2px;}
.btn-login.MuiButton-containedPrimary:hover {box-shadow: none !important;background-color:#e9ecef;border-color: #ced4da;color: #004681;}
.MuiButton-contained.btn-login:active{box-shadow: none;}
.MuiGrid-root .MuiButton-contained{box-shadow: none;}
.login-form h3 {font-size: 22px;text-transform: uppercase;color: #fff;}
.login-form{margin-top: 70px;}
.login-form .MuiFormLabel-root{color:rgba(255,255,255,0.5);}
.login-form .MuiFormGroup-root input[type="text"]:focus, input[type="password"]:focus {border-color: transparent;box-shadow:none;}
.login-form .MuiFormGroup-root .MuiInputBase-input{color: #fff;}
.login-form .MuiFormControl-root .MuiFormLabel-root.Mui-focused{color:rgba(255,255,255,0.5);}
.MuiFormGroup-root .MuiInput-underline:before,.MuiFormGroup-root .MuiInput-underline:after {border-bottom: 1px solid rgba(255,255,255,0.5);}
.login-form .MuiFormGroup-root{margin-bottom: 31px;}
.MuiFormGroup-root .MuiInput-underline:hover:not(.Mui-disabled):before {border-bottom: 2px solid rgba(255,255,255,0.5);}
.forgot-password {text-align: right;padding-right: 0px;}
.MuiGrid-root .forgot-password{margin-top: 15px;}
.forgot-password a {color: #67a5da;font-size: 14px;}
.forgot-password a:hover {color: #a1abe4;}
.signup-account {margin-top: 50px;font-size: 14px;color:#67a5da;}
.signup-account a {color: #fff;font-weight: bold;padding-left: 8px;}
.signup-account a:hover{color:#ced4da;}
.login-left .login-form {max-width: 374px;width: 100%;}

/* Topbar
--------------------------------------------------------------------------------------------------------*/
.toggle-nav{cursor: pointer;}
.horizontal-logo-mobile{display: none;}
.menu-logo {height: 22px;}
.navbar .toggle-nav{border-radius: 50px;margin-left: 14px;padding: 14px 14px;}
.navbar .bell-icon {padding:14px;border-radius: 50px;}
.navbar .user-dropdown{padding: 5px 10px;border-radius: 50px;color: #0057a1;font-weight: bold;font-size: 14px;text-transform: capitalize;}
.navbar{height:74px;background-color:#fff;box-shadow: 0 1px 3px rgba(0,0,0,0.06);}
.bell-icon.dropdown-toggle::after{display: none;}
.notification-heading{background-color: #F3F6FF;color:#0057A1;font-size: 13px;font-weight: bold;text-transform: uppercase;padding: 10px 10px 10px 20px;}
.notifications .notification-message{font-size: 13px;font-weight: 600;color: #666666;}
.notifications .notification-time{font-size: 12px;color: #A2A2A2;}
.notifications .view-all{text-align: center;font-size: 13px;color: #A2A2A2;padding: 10px 0;}
.user-profile-logo{display: flex;align-items: center;}
.bell-logo{height: 25px;}
.founder-logo{height: 58px;margin: 5px 0;border-radius: 28px;}
.founder-name{margin-left: 10px;}
.notifications .MuiList-root.MuiMenu-list.MuiList-padding{padding-top: 0;padding-bottom: 0;}
.notifications .MuiMenu-paper.MuiPopover-paper{width: 357px;top: 75px !important;left: unset !important;right:235px;}
.user-notification .MuiMenu-paper.MuiPopover-paper{width: 188px;top: 75px !important;left: unset !important;right:18px;}
.chevron-down-logo{position: relative;top: 4px;left: 4px;}
.dropdown-arrow{height: 8px;padding-left: 10px;}
.MuiTypography-root{padding: 5px 11px;}
.notifications .MuiMenu-paper{max-height: 100% !important;overflow-y: hidden;}
.user-notification .MuiMenu-paper{max-height: 100% !important;overflow-y: hidden;}
.user-dropdown,.notification-dropdown{display: inline-flex;}
.user-notification .MuiListItem-root{display: flex;align-items: center;white-space: nowrap;}
.MuiListItem-root.notification-link:hover{background-color: #e9ecef;}
.profile-name  img{height: 18px;}
.profile-name span{font-size: 13px;color:#666666;padding-left: 18px;vertical-align: top;}
.user-dropdown .MuiGrid-root.col-10.password {padding-left: 18px;}

/* Sidebar
--------------------------------------------------------------------------------------------------------*/
.sidenav {height: 100%;margin-top: 72px;width:246px;position: fixed;z-index: 1;top: 0;left: 0;background-color: #0057a1;overflow-x: hidden;transition: 0.5s;box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);}
.sidebar-list{margin-top:12px;}
.horizontal-logo-div {height: 74px;padding: 18px 15px 25px 16px;margin-left: -16px;background-color: #004f93;}
.sidebar-list li { padding: 15px 21px 11px; margin-top: 10px; }
.sidebar-list a{display: flex;align-items: center;white-space: nowrap;}
.sidebar-list img{height:20px;opacity: 0.3;}
.sidebar-list li span {color:rgba(255,255,255,0.3);font-size: 15px;padding-left: 18px;vertical-align: top; }
.sidebar-list .active span,.sidebar-list a:hover span{color:rgba(255,255,255,1);}
.sidebar-list .active img,.sidebar-list a:hover img{opacity: 1;}
.horizontal-logo {max-width: 246px;height: 35px;}
#main{margin-left: 246px;transition:margin-left 0.5s;}
.toggle-nav .main-toggle { margin-left: 0px !important }
.toggle-nav .sidenav-toggle{left: -246px;}
.toggle-nav .display-block-toggle { display: block !important; }

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.dashboard-content{background-color: #eff1f3;position: relative;padding: 18px 30px 25px 30px;}
.admin-content{padding-top: 90px;padding-bottom: 15px;}
.graph-content{padding-bottom: 15px;}
.MuiGrid-root.sales-grid1{max-width: 40%;flex-basis: 40%;}
.MuiGrid-root.sales-grid2{max-width: 60%;flex-basis: 60%;}
.dashboard-header{color: #464646;font-weight: bold;font-size: 28px;padding-bottom: 0;}
.dashboard-sort{display: flex;justify-content: space-between;}
.select-div{display: inherit;}
.select-div .MuiSelect-root.MuiSelect-filled.MuiSelect-filled{padding:18px 16px;color: #666666;font-size: 14px;font-weight: bold;}
.MuiFormControl-root .MuiFilledInput-underline:hover:before {border-bottom: none;}
.MuiFormControl-root .MuiFilledInput-underline:before,.MuiFormControl-root .MuiFilledInput-underline:after{border-bottom: none;}
.select-div .MuiFormControl-root .MuiFilledInput-root{height: 38px;background-color: #fff ;border-radius: 2px;border:1px solid #ced4da;}
.MuiFormControl-root .MuiSelect-select:focus{ background-color: transparent;}
.select-div .MuiFormLabel-root{color: #909ca8;font-weight: bold;padding: 13px 17px 0 0;}
.MuiFormControl-root .MuiInputBase-root.select-entry{width: 126px;background-color: #f5f5f7;border: 1px solid #c7cbcf; transition: all 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms; background-image: url('../src/app/assets/images/form-dropdown-arrow.png');background-position: 90% 50%;background-size: 15px 15px;background-repeat: no-repeat; }
.MuiFormControl-root .MuiInputBase-root.select-entry .MuiSelect-icon path{ display: none;}
.analytics-div h3{font-weight: bold;color: #909ca8;font-size: 16px;}
.card{border:none;border-radius: 4px;background-color: #fff;}
.card-body{padding: 0;}
.card.visitors{height: 100%;}
.card.visitors:hover{border: none;border-radius: 4px;box-shadow: 0 1px 2px 0 rgba(0, 87,161, 0.35);background: #337ebd;background: -moz-linear-gradient(left,  #337ebd 0%, #055ba4 100%);background: -webkit-linear-gradient(left,  #337ebd 0%,#055ba4 100%);background: linear-gradient(to right,  #337ebd 0%,#055ba4 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ebd', endColorstr='#055ba4',GradientType=1 );}
.card.visitors:hover .visitors-number,.card.visitors:hover .visitors-text{color: #fff;}
.card.visitors:hover .stats-img{display: none;}
.card.visitors:hover .stats-img-1{display: block;height: 26px;}
.visitors-number{font-size: 32px;color:#666666;line-height: 32px;}
.visitors-div{padding-left: 14px;}
.visitors-text{font-size: 16px;font-weight: bold;color: #909ca8;padding-top: 8px;padding-left: 3px;}
.stats-img{height: 26px;}
.stats-img-1{display: none;}
.dot-img{position: absolute;top: 30px;right: 24px;cursor: pointer;}
.content-box {display: flex;align-items: center;padding: 33px 0 32px 14px;}
.stats-icon{padding:40px 0px 40px 15px;}
.analytics-div img{max-width: 100%;}
.sales-graph{padding: 0 60px;}
.analytics-div{padding: 20px 20px 20px 14px;}
.card.sales-card-1,.card.sales-card-2{height: 100%;}
.MuiGrid-root.table-grid{padding-bottom: 50px !important;}
.stats-table .MuiTableHead-root{background-color: #f9f9f9;}
.stats-table th{font-weight: bold;color: #909ca8;font-size: 12px;line-height: 15px;}
.stats-table .MuiTableCell-body{color:#666666;font-size: 13px;font-weight: bold;}
.edit-img{width: 15px;height: 16px;margin:0 18px 0 0;}
.delete-img{width: 15px;height: 16px;}
.MuiTableCell-root .edit-cell{display: flex;}
.MuiTableCell-root .btn-active {min-width: 84px;padding: 4px 5px 3px;border: 1px solid #71ae37; border-radius: 4px; font-size: 12px; color: #71ae37; display: inline-block; font-weight: bold;text-align: center; }
.MuiTableCell-root .btn-pending {min-width: 84px;padding: 4px 5px 3px;border: 1px solid #ec9548; border-radius: 4px; font-size: 12px; color: #ec9548; display: inline-block; font-weight: bold;text-align: center; }
.MuiTableCell-root .btn-cancelled {min-width: 84px;padding: 4px 5px 3px;border: 1px solid #f23e3e; border-radius: 4px; font-size: 12px; color: #f23e3e; display: inline-block; font-weight: bold;text-align: center; }
.MuiTableCell-root .btn-completed {min-width: 84px;padding: 4px 5px 3px;border: 1px solid #6692fe; border-radius: 4px; font-size: 12px; color: #6692fe; display: inline-block; font-weight: bold;text-align: center; }
.MuiTable-root .MuiTableCell-root.text-city{padding-left: 20px;}
.MuiTableHead-root .MuiTableCell-root{border-bottom: none;}
.pagination-nav .MuiPagination-ul{ justify-content: flex-end;padding: 15px 0;}
.pagination-nav .MuiPaginationItem-icon path{display: none;}
.pagination-nav li:first-child .MuiPaginationItem-icon {margin: 9px -8px;background-image: url('../src/app/assets/images/prev-icon.png'); background-size: 14px 13px;background-repeat: no-repeat;}
.pagination-nav li:last-child .MuiPaginationItem-icon {margin: 9px -8px;background-image: url('../src/app/assets/images/next-icon.png'); background-size: 14px 13px;background-repeat: no-repeat;}
.pagination-nav .MuiPaginationItem-page{font-size: 12px;}
.pagination-nav .MuiPaginationItem-textPrimary.Mui-selected {background-color: #0057a1;}

/* InnerPage
--------------------------------------------------------------------------------------------------------*/
.innerpage-content{background-color: #eff1f3;position: relative;padding:74px 30px 30px;}
.innerpage-text{font-size: 34px;font-weight: bold;padding:25px 0 20px;}
.table-text h3{color: #909ca8;font-size: 18px;font-weight: bold;padding: 22px 0 23px 20px;}
.table-text img{position: absolute;top: 14px;right: 19px;border: 1px solid #0057a1;padding: 11px;border-radius: 100%;}
.btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{color: #fff; background-color: #3f51b5; border-color: #3f51b5;}
.btn-primary{background-color: #3F51B5;color: #fff;border-color: #3f51b5;}
.btn-primary:hover,.btn-primary:focus{background-color: #3F51B5;color: #fff;border-color: #3f51b5;}
.btn-primary:not(:disabled):not(.disabled):active{color: #fff;background-color: #3F51B5;border-color: #3F51B5;}
.btn-primary:not(:disabled):not(.disabled):active:focus {box-shadow: none;}
.form-div{margin-top: 29px;margin-bottom: 45px;padding: 20px;}
.select-box{margin-top: 4px;}

/* InnerPage-Form
--------------------------------------------------------------------------------------------------------*/
.btn:focus{box-shadow: none;}
.one-column-head{font-size: 18px;padding:21px 0 0 10px;color: #565656;font-weight: bold;}
.MuiGrid-root .MuiDivider-root{border-bottom: 1px solid #eef0f3;}
.MuiDivider-root.divider-one{margin:9px 0 1rem 0;}
.MuiDivider-root.divider-three,.MuiDivider-root.divider-two,.MuiDivider-root.divider-four{margin:0 0 1rem 0;}
.MuiDivider-root.divider-element{margin:0 0 31px 0;}
/* .MuiDivider-root.tab-divider{margin:0 16px 8px 16px;} */
.analytics-text h3{font-size: 18px;font-weight: bold;color: #909ca8;}
.one-column-label{font-size: 14px;font-weight: bold;padding-bottom: 7px;color: #909ca8;}
.two-column-head{font-size: 18px;padding: 10px 0;color: #565656;font-weight: bold;}
.three-column-head{font-size: 18px;color: #565656;font-weight: bold;padding: 10px 0;}
.four-column-head{font-size: 18px;padding:10px 0;color: #565656;font-weight: bold;}
.element-head{font-size: 18px;padding:10px 0;color: #565656;font-weight: bold;}
.tab-head{font-size: 18px;color: #565656;font-weight: bold;padding: 10px 0;}
.form-div .MuiFormControl-root .MuiFormLabel-root{color: #909ca8;font-size: 14px;font-weight: bold;}
.form-div .MuiFormLabel-root.Mui-focused{color:#3f51b5;}
.form-control:focus{border-color: #3f51b5 !important;}
.primary-btn:hover{color: #fff;border-color:#5d6dca;background-color: #303f9f;box-shadow: none !important;}
.primary-btn{border-radius: 4px;width: 95px;height: 38px;font-size: 14px;margin-right: 14px;background-color: #3F51B5;color: #fff;}
.file-upload {display: flex;}
.file-upload .MuiInputBase-input {display: none;}
.file-upload > label > img {padding-right: 9px;}
.upload-white-icon{height: 15px;}
.file-upload > label{margin: -10px 0 22px 18px;font-size: 14px;cursor: pointer;background-color: #0057a1;color: #fff;padding: 12px 15px;display: flex;justify-content: center;align-items: center;border-radius: 4px;}
.secondary-btn{border-radius: 4px;width: 95px;color:#212529;height: 38px;font-size: 14px;background-color: #e3e3e3;border-color: #e3e3e3;}
.secondary-btn:hover{background-color: #b6b6b6;box-shadow: none !important;border-color: #b6b6b6;color:#212529;}
.btn-secondary:focus {color: #212529;background-color: #b6b6b6;border-color: #b6b6b6;}
.btn-secondary:not(:disabled):not(.disabled):active {color: #212529;background-color: #b6b6b6;border-color: #b6b6b6;}
.btn-secondary:not(:disabled):not(.disabled):active:focus {box-shadow: none;}
.alert{margin: 19px 0;height: 50px;}
.alert-message{margin: 10px 0;}
.alert-icon{height:24px;}
.alert .MuiAlert-message {padding: 0;margin: auto 0;}
.alert .MuiSvgIcon-fontSizeSmall {color: #000;opacity: 0.5;font-size: 18px;}
.btn-success:not(:disabled):not(.disabled):active:focus{box-shadow: none !important;border-color:#4B9F4D;background-color: #4B9F4D;}
.btn-info:not(:disabled):not(.disabled):active:focus{box-shadow: none !important;border-color:#4791B5;background-color: #4791B5;}
.btn-warning:not(:disabled):not(.disabled):active:focus{box-shadow: none !important;border-color:#CD912A;background-color: #CD912A;}
.btn-danger:not(:disabled):not(.disabled):active:focus{box-shadow: none !important;border-color:#F16461;background-color: #F16461;}
.nav-paragraph{font-size: 14px;color: #666666;}

/* InnerPage-Form-Material
--------------------------------------------------------------------------------------------------------*/
.MuiAlert-root{position: relative;}
.MuiAlert-root.alert-info{background-color: #F0FAFF;color: #4791B5;border: 1px solid #99CFE9;}
.MuiAlert-root.alert-success{background-color: #F7FFF4;color: #4B9F4D;border: 1px solid #B1DBA1;}
.MuiAlert-root.alert-warning{background-color: #FFFCF0;color: #CD912A;border: 1px solid #ECDC8E;}
.MuiAlert-root.alert-danger{border: 1px solid #F2BBBB;background-color: #FFF6F6;color: #F16461;}
.MuiTableCell-root.btn-text {padding-top: 4px;border: 1px solid #4caf50; border-radius: 42px; font-size: 12px; color: #4caf50; display: inline-block; font-weight: 600; height: 25px; }
.MuiTableCell-root.btn-pending {text-align: center;padding-top: 4px;width:98px;border: 1px solid #ffa000 ; border-radius: 42px; font-size: 12px; display: inline-block;  height: 25px; font-weight: 600; color: #ffa000; }
.MuiTableCell-root.btn-cancelled {text-align: center;padding-top: 4px;width:98px;border: 1px solid #f93333; border-radius: 42px; font-size: 12px; display: inline-block;height: 25px; color: #f93333; font-weight: 600; }
.MuiTableCell-root.btn-completed{padding-top: 4px;border: 1px solid #3f51b5; border-radius: 42px; font-size: 12px; display: inline-block;  height: 25px; color: #3f51b5; font-weight: 600; }
.stats-table .MuiTable-root .MuiTableCell-root{vertical-align: initial;}
.checkbox1 .MuiIconButton-root:hover{background-color: #fff;}
.checkbox1 .MuiCheckbox-colorPrimary.Mui-checked:hover,.checkbox1 .MuiRadio-colorPrimary.Mui-checked:hover {background-color: #fff;}
.checkbox1 .MuiCheckbox-colorPrimary.Mui-checked,.checkbox1 .MuiRadio-colorPrimary.Mui-checked{color: #0057a1;}
.MuiFormLabel-root.checkbox-label{font-size: 14px;font-weight: bold;color: #909ca8;}
.checkbox1 .MuiTypography-root{padding: 0;color: #666666;font-size: 14px;}
.MuiFormControl-root .MuiInputBase-root.custom-dropdown{background-position: right 15px center; transition: all 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms; background-image: url('../src/app/assets/images/form-dropdown-arrow.png'); background-size: 14px 14px;background-repeat: no-repeat; }
.MuiFormControl-root .MuiInputBase-root.custom-dropdown .MuiSelect-icon path{ display: none;}
.MuiFormControl-root .MuiInputBase-root.show-entry{border-radius: 2px;background-color: #fff;border: 1px solid #d2d6d9; transition: all 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms; background-image: url('../src/app/assets/images/entries-icon.png');width: 70px;background-position: 85% 50%;background-size: 15px 15px;background-repeat: no-repeat; }
.MuiFormControl-root .MuiInputBase-root.show-entry .MuiSelect-icon path{ display: none;}
.main-pagination { display: flex; justify-content: space-between;padding-top: 10px; }
.records-entry { display: flex;padding: 5px 0 15px 0;}
.records-entry h2, .records-entry h3 { padding: 10px;color: #909ca8;font-size: 13px;}
.records-entry h2 { font-weight: bold; padding-left: 15px; }
.page .MuiPagination-ul{padding: 13px 0;}
.select-box .MuiFormControl-root .MuiFilledInput-input{padding: 10px 12px;}
.MuiFormControl-root .MuiSelect-select:focus,.MuiFormControl-root .MuiFilledInput-root.Mui-focused{ background-color: transparent;}
.MuiTextField-root .MuiFilledInput-underline.Mui-disabled:before {border-bottom-style: none;box-shadow: none;}
.form-div .MuiFormControl-root .MuiFilledInput-root.Mui-disabled {background-color: #fbfbfb;}
.form-div .MuiFormLabel-root.Mui-disabled{opacity: 0.6;}
.form-div .MuiFormControl-root .MuiFilledInput-root{background-color: #fff ;border-radius: 2px;border:1px solid #ced4da;}
.form-div .MuiFormControl-root .MuiFilledInput-underline.Mui-focused:after{border: 1px solid #0057a1;top: 0;transform: none;border-radius: 1px;box-shadow: inset 0 1px 1px rgba(63, 81, 118, 0.075), 0 0 8px rgba(63, 81, 118,0.3);transition: none;}
.MuiFormLabel-root.one-column-label{line-height: inherit;font-size: 14px;font-weight: bold;padding-bottom: 7px;color: #212529;}
.MuiButton-contained.primary-btn{margin-right: 14px;text-transform: capitalize;font-size: 14px;background-color: #0057a1;font-weight: bold;}
.MuiButton-contained.secondary-btn:hover {background-color: #b6b6b6;border-color: #b6b6b6;color: #212529;}
.MuiButton-contained.secondary-btn{margin-right: 14px;width: 105px;text-transform: capitalize;font-size: 14px;background-color: #e3e3e3;font-weight: bold;color: #545454;}
.MuiButton-contained.btn-success{background-color: #28a745;border-color: #28a745;color: #fff;text-transform: capitalize;}
.MuiButton-contained.btn-info{background-color: #17a2b8;border-color: #17a2b8;color: #fff;text-transform: capitalize;}
.MuiButton-contained.btn-warning{background-color: #ffc107;border-color: #ffc107;color: #fff;text-transform: capitalize;}
.MuiButton-contained.btn-danger{background-color: #dc3545;border-color: #dc3545;color: #fff;text-transform: capitalize;}
.MuiButton-root.MuiButton-contained.btn-success:hover{border-color: #4b9f4d;background-color: #4b9f4d;box-shadow: none;color: #fff;}
.MuiButton-root.MuiButton-contained.btn-info:hover{border-color: #4791b5;background-color: #4791b5;box-shadow: none;color: #fff;}
.MuiButton-root.MuiButton-contained.btn-warning:hover{border-color: #cd912a;background-color: #cd912a;box-shadow: none;color: #fff;}
.MuiButton-root.MuiButton-contained.btn-danger:hover{border-color: #f16461;background-color: #f16461;box-shadow: none;color: #fff;}
.MuiTab-root .MuiTab-wrapper{text-transform: capitalize;font-size: 16px;}
.MuiTab-root.MuiTab-textColorPrimary{color: #909ca8;}
.MuiTab-root.MuiTab-textColorPrimary.Mui-selected{color: #0057a1;}
.MuiTypography-body1 .nav-paragraph{margin-left: 10px;}
.MuiPagination-root .MuiTouchRipple-root{display: none;}
.MuiTabs-scroller .PrivateTabIndicator-colorPrimary-9{border-bottom: 1px solid #0057a0;width: 120px !important;height: 2px;margin-left: 20px;}
.MuiTabs-scroller{margin-bottom:10px !important;}
.primary-switch .MuiSwitch-root .MuiIconButton-root:hover{ background: none; }
.primary-switch{position: relative;bottom: 37px;left: 230px;}
.primary-switch span.left-label,.primary-switch span.right-label{color: #666666;}
.primary-switch .MuiSwitch-root .MuiSwitch-switchBase .MuiTouchRipple-root{ display: none; }
.primary-switch .MuiSwitch-root.MuiSwitch-colorPrimary.Mui-checked:hover{ background: none; }

/* Footer
--------------------------------------------------------------------------------------------------------*/
.dashboard-copyright { color:rgba(255,255,255,0.3); font-size:13px;text-align: center;position: absolute;bottom: 0;padding-bottom: 25px;}
.copyright {color: #909ca8;  font-size:13px;position: absolute;bottom: 0;right: 30px;}
.copyright .footer{padding: 15px 0;}

/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1199px) {

/* Login
 --------------------------------------------------------------------------------------------------------*/
.MuiGrid-root.sales-grid1{max-width: 100%;flex-basis: 100%;}
.MuiGrid-root.sales-grid2{max-width: 100%;flex-basis: 100%;}
.signup-account{margin-top: 40px;}
.login-form{margin-top: 50px;}
.login-left{width: 50%;}

/* Topbar
--------------------------------------------------------------------------------------------------------*/
.notifications .MuiMenu-paper.MuiPopover-paper {height: 405px;overflow-y: scroll;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.stats-icon{padding-top: 50px;}
.founder-logo{height: 35px;}
.sales-graph{padding: 0 15px;}
}

@media (max-width:991px) {
    
/* Login
--------------------------------------------------------------------------------------------------------*/
.login-form{margin-top: 40px;padding: 0 30px;box-sizing: border-box;}
.signup-account{margin-top: 30px;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.stats-icon{padding-top: 50px;}
}
    
@media (max-width:767px) {
    
/* Login
--------------------------------------------------------------------------------------------------------*/
.main-content{background-position: right top;background-image:url('../src/app/assets/images/company-building.jpg');height: 100vh;background-size: cover;background-repeat: no-repeat;} 
.login-left{background-color: rgba(0,87,161,0.9);width: 100%;}

/* Topbar
--------------------------------------------------------------------------------------------------------*/
.notifications .MuiMenu-paper.MuiPopover-paper {width: 290px;height: 315px;right: 230px;}
.horizontal-logo{max-width: 140px;height: 22px;display: none;}
.horizontal-logo-mobile{display: block;background-color: #004F93;height: 74px;width: 74px;padding: 21px 21px;margin-left: -16px;}
.horizontal-logo-div{display: none;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.content-box{justify-content: space-between;padding: 33px 25px 32px 24px;}
.visitors-text{text-align: right;}
.pagination-nav .MuiPagination-ul{justify-content: center;}
#main { margin-left: 0px }
.sidenav { left: -246px;z-index: 3;}
.toggle-nav .sidenav-toggle { left: 0; }
.toggle-nav #overlay { position: fixed;display: none;width: 100%;height: 100%;top: 0;left: 0px;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.5);z-index:2;cursor: pointer;transition: all 0.3s; }

/* InnerPage-Form
--------------------------------------------------------------------------------------------------------*/
.main-pagination{ display: block; }
.records-entry { justify-content: center; padding-bottom: 5px; }
.MuiPagination-root .MuiPagination-ul { justify-content: center; }

}
  
@media (max-width:575px) {
    
/* Login
--------------------------------------------------------------------------------------------------------*/ 
.MuiGrid-root .forgot-password {margin-top: -36px;} 
.signup-account{margin-top: 30px;}
.logo{width: 250px;}

/* Topbar
--------------------------------------------------------------------------------------------------------*/
.notifications .MuiMenu-paper.MuiPopover-paper {width: 285px;right: 62px;}
.notification-dropdown .MuiTypography-root{padding: 5px 9px;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.analytics-image{height: inherit;padding: 60px 35px 120px 21px;display: flex;}
.dropdown-menu{top: 20px !important;}
.horizontal-logo-div{display: none;}
.dashboard-header{padding-bottom: 15px;}
.dashboard-sort{display: block;}
.nav-item-mobile{display: none;}

/* InnerPage-Form
--------------------------------------------------------------------------------------------------------*/
.innerpage-content{padding: 15px 0;}
.tab-content{padding-left: 0px !important;padding-right: 0px !important;}
.checkbox1 {display: block;align-items: center;margin-right: 10px;}
.alert-message{margin: 30px 0;}
.primary-switch{top: 12px;left: 0;bottom: 0;}
.MuiTabs-scroller{margin-left: 8px;}
.MuiTabs-scroller .PrivateTabIndicator-colorPrimary-9{margin-left: 10px;}

}
    
@media (max-width:375px) {

/* Topbar
--------------------------------------------------------------------------------------------------------*/
.notifications .MuiMenu-paper.MuiPopover-paper {right: 19px;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.dashboard-content{padding: 6px 30px 25px 30px;}

 /* InnerPage-Form
--------------------------------------------------------------------------------------------------------*/
.primary-btn{margin-bottom: 0px;}
}
    
@media (max-width:320px) {
/* Topbar
--------------------------------------------------------------------------------------------------------*/
.notifications .MuiMenu-paper.MuiPopover-paper {height: 260px;width: 228px;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.pagination-nav .MuiPaginationItem-root{margin: 0;}

/* InnerPage-Form
--------------------------------------------------------------------------------------------------------*/
.justify-content-end{margin-right: 0;}

}